<script type="text/javascript">//<![CDATA[
    function __MOXY_insert_image() {
        var qrdiv = document.getElementById('qrcode_placeholder');
        var url = "http://" + location.host + "/?q=" + encodeURIComponent("http://qrcode.moxy/[% current | uri %]");
        qrdiv.innerHTML = "<img src='" + url + "' />";
        return false;
    }
//]]></script>
<div id="qrcode_placeholder"><a href="#" onclick="__MOXY_insert_image();return false;">show qrcode for [% current | html %]</a></div>
