---
global:
  server:
    module: ServerSimple
    args:
      port: 3128
  timeout: 23
  log:
    level: debug
  session:
    state:
      module: BasicAuth
    store:
      module: DBM
      config:
        file: /tmp/moxy.ndbm
        dbm_class: NDBM_File

plugins:
  - module: UserID
  - module: XMLisHTML
  - module: UserAgentSwitcher
  - module: RefererCutter
  - module: CookieCutter
  - module: FlashUseImgTag
  - module: DisableTableTag
  - module: GPS
  - module: HTTPHeader
  - module: QRCode
  - module: ShowHTTPHeaders


