<html>
<body>
    <h1>Moxy iarea sender</h1>

[%# version. 070209c. %]
[% SET areacode2name = {
    '00100' => '函館/渡島',
    '00101' => '江差/桧山',
    '00201' => '小樽/後志',
    '00202' => '苫小牧/室蘭',
    '00203' => '岩見沢/空知',
    '00204' => '浦河/日高',
    '00205' => '北広島/恵庭/千歳',
    '00206' => '札幌駅周辺',
    '00207' => '大通公園周辺',
    '00208' => 'すすきの',
    '00209' => '中島公園周辺',
    '00210' => '桑園/円山/伏見',
    '00211' => '大通東',
    '00212' => '山鼻/藻岩周辺',
    '00213' => '北24条/北大周辺',
    '00214' => '麻生/新道北',
    '00215' => '東区',
    '00216' => '琴似/八軒',
    '00217' => '手稲/宮の沢/西野',
    '00218' => '平岸/澄川/西岡',
    '00219' => '豊平/月寒/清田',
    '00220' => '白石',
    '00221' => '厚別',
    '00222' => '南区/盤渓',
    '00223' => '江別/石狩',
    '00300' => '旭川/上川',
    '00301' => '稚内/宗谷',
    '00302' => '留萌',
    '00400' => '網走/北見/紋別',
    '00500' => '帯広/十勝',
    '00600' => '釧路',
    '00601' => '根室',
    '00700' => '一ノ関',
    '00800' => '盛岡',
    '00900' => '沿岸',
    '01000' => '八戸',
    '01100' => '青森',
    '01200' => '弘前',
    '01300' => '大館',
    '01400' => '秋田',
    '01500' => '横手',
    '01600' => '福島',
    '01601' => '郡山',
    '01700' => '会津若松/喜多方',
    '01800' => 'いわき',
    '01900' => '仙台市周辺',
    '01901' => '仙南',
    '02000' => '石巻/松島/気仙沼',
    '02100' => '大崎',
    '02200' => '米沢',
    '02300' => '山形',
    '02400' => '新庄',
    '02500' => '鶴岡',
    '02600' => '小山',
    '02700' => '宇都宮',
    '02800' => '中禅寺湖/日光周辺',
    '02900' => '鬼怒川/川治',
    '03000' => '塩原/大田原周辺',
    '03100' => '那須',
    '03200' => '尾瀬',
    '03300' => '前橋/伊勢崎',
    '03400' => '太田/館林',
    '03500' => '高崎',
    '03600' => '伊香保/榛名/草津',
    '03700' => '沼田/水上',
    '03800' => '湯沢/奥只見',
    '03900' => '糸魚川/直江津',
    '04000' => '長岡',
    '04100' => '新潟/新津',
    '04200' => '新発田/村上',
    '04300' => '佐渡',
    '04400' => '千葉',
    '04401' => '船橋/浦安',
    '04500' => '木更津',
    '04600' => '内房',
    '04700' => '外房',
    '04800' => '茂原/九十九里',
    '04801' => '八日市場',
    '04900' => '成田/佐倉',
    '05000' => '銚子周辺',
    '05100' => '松戸/柏/野田',
    '05200' => '取手/つくば',
    '05300' => '古河',
    '05400' => '土浦',
    '05500' => '水戸',
    '05600' => '日立周辺',
    '05700' => '東京駅周辺',
    '05701' => '有楽町/日比谷',
    '05702' => '秋葉原',
    '05703' => '神田',
    '05704' => '御茶ノ水/神保町',
    '05705' => '麹町/市ヶ谷',
    '05800' => '銀座',
    '05802' => '日本橋',
    '05804' => '人形町/浜町',
    '05805' => '築地',
    '05806' => '月島/晴海/豊洲',
    '05807' => '新橋',
    '05808' => '浜松町/芝浦',
    '05809' => '田町/三田',
    '05810' => '品川',
    '05900' => '赤坂',
    '05901' => '青山/信濃町',
    '05902' => '六本木',
    '05903' => '西麻布',
    '05904' => '麻布十番',
    '05905' => '広尾/白金',
    '05906' => 'お台場/有明',
    '06000' => '大崎/五反田',
    '06001' => '目黒',
    '06002' => '天王洲',
    '06003' => '大井町',
    '06004' => '大森',
    '06100' => '蒲田/羽田',
    '06101' => '田園調布',
    '06200' => '渋谷駅周辺',
    '06201' => '渋谷明治通り/宮益坂',
    '06203' => '表参道/原宿',
    '06204' => '初台/代々木上原',
    '06205' => '恵比寿/代官山',
    '06206' => '中目黒',
    '06207' => '自由が丘',
    '06208' => '三軒茶屋/三宿',
    '06209' => '二子玉川',
    '06210' => '上野毛',
    '06211' => '下北沢',
    '06212' => '成城',
    '06213' => '明大前',
    '06214' => '下高井戸',
    '06215' => '用賀/駒沢',
    '06216' => '世田谷/経堂',
    '06300' => '新宿東口',
    '06301' => '西新宿',
    '06302' => '新宿南口/代々木',
    '06303' => '新宿歌舞伎町',
    '06304' => '新宿１〜２丁目',
    '06305' => '千駄ヶ谷/信濃町',
    '06306' => '四谷',
    '06307' => '飯田橋/神楽坂',
    '06308' => '高田馬場/早稲田',
    '06309' => '中野',
    '06310' => '高円寺/阿佐ヶ谷',
    '06312' => '荻窪/西荻',
    '06314' => '練馬/西東京市',
    '06400' => '本郷',
    '06401' => '根津/千駄木',
    '06402' => '白山/小石川',
    '06403' => '大塚/目白台',
    '06404' => '後楽園/水道橋',
    '06500' => '池袋',
    '06501' => '目白',
    '06502' => '江古田',
    '06503' => '豊島園/豊玉',
    '06504' => '成増',
    '06505' => '王子',
    '06506' => '上中里',
    '06507' => '東十条',
    '06508' => '赤羽',
    '06509' => '田端/駒込/巣鴨',
    '06600' => '上野/御徒町',
    '06601' => '浅草',
    '06602' => '日暮里',
    '06603' => '北千住',
    '06604' => '青砥',
    '06605' => '柴又',
    '06700' => '両国',
    '06701' => '錦糸町/曳舟',
    '06702' => '亀戸',
    '06703' => '森下',
    '06704' => '深川',
    '06705' => '木場',
    '06706' => '辰巳/新木場',
    '06707' => '砂町',
    '06708' => '葛西臨海公園',
    '06800' => '吉祥寺/三鷹',
    '06801' => '国分寺/国立',
    '06802' => '所沢',
    '06900' => '飯能/日高',
    '07000' => '川越/東松山',
    '07001' => '和光/朝霞/富士見',
    '07100' => '大宮',
    '07101' => '浦和',
    '07102' => '川口',
    '07200' => '草加/三郷',
    '07201' => '久喜/羽生',
    '07202' => '春日部/越谷',
    '07300' => '熊谷/深谷',
    '07400' => '秩父/長瀞',
    '07500' => '府中/調布',
    '07501' => '多摩',
    '07600' => '八王子',
    '07700' => '立川',
    '07701' => '青梅/福生/奥多摩',
    '07800' => '溝の口/たまプラーザ/青葉台',
    '07801' => '港北ニュータウン',
    '07802' => 'みなとみらい',
    '07803' => '元町/中華街',
    '07804' => '関内/伊勢佐木町',
    '07805' => '石川町',
    '07806' => '本牧/三渓園',
    '07807' => '弘明寺/井土ヶ谷',
    '07808' => '保土ヶ谷',
    '07809' => '磯子',
    '07810' => '八景島/金沢文庫',
    '07811' => '横浜',
    '07812' => '上大岡/港南台',
    '07813' => '大船/本郷台',
    '07814' => '戸塚',
    '07815' => 'いずみ野/緑園都市',
    '07816' => '大和/瀬谷/三ツ境',
    '07817' => '中山/長津田',
    '07818' => '希望が丘/二俣川',
    '07819' => '新横浜',
    '07820' => '川崎/鶴見',
    '07821' => '武蔵小杉/日吉',
    '07900' => '新百合ヶ丘/登戸',
    '08000' => '鎌倉/由比/大船',
    '08100' => '横須賀/逗子',
    '08200' => '平塚/大磯',
    '08201' => '藤沢/茅ヶ崎/江ノ島',
    '08300' => '町田/相模大野',
    '08301' => '本厚木/海老名',
    '08400' => '大島/新島',
    '08500' => '三宅島/八丈島',
    '08600' => '小笠原諸島',
    '08700' => '小田原',
    '08800' => '箱根',
    '08900' => '真鶴/湯河原',
    '09000' => '熱海/伊東/東伊豆',
    '09200' => '下田/南伊豆',
    '09300' => '沼津/三島/御殿場',
    '09301' => '西伊豆',
    '09302' => '中伊豆',
    '09400' => '富士吉田',
    '09500' => '富士/富士宮',
    '09600' => '甲府',
    '09700' => '身延線周辺',
    '09800' => '静岡',
    '09801' => '焼津/藤枝/志太',
    '09802' => '静岡清水/庵原',
    '09900' => '静岡駅周辺',
    '10000' => '島田/榛原',
    '10100' => '掛川/小笠',
    '10101' => '磐田/袋井',
    '10200' => '軽井沢/小諸',
    '10300' => '上田/菅平',
    '10400' => '長野',
    '10500' => '戸隠/妙高',
    '10600' => '志賀高原/飯山',
    '10700' => '小海線沿線/八ヶ岳',
    '10800' => '諏訪',
    '10900' => '松本',
    '11000' => '上高地/乗鞍',
    '11100' => '大糸線沿線/北アルプス',
    '11200' => '伊那/天竜峡',
    '11300' => '木曽',
    '11400' => '西区/県庁',
    '11401' => '栄北',
    '11402' => '栄南',
    '11403' => '新栄',
    '11404' => '伏見',
    '11405' => '大須/上前津/金山',
    '11406' => '東区',
    '11407' => '北区',
    '11408' => '名古屋駅',
    '11409' => '中村区',
    '11410' => '中川区',
    '11411' => '港区',
    '11412' => '熱田',
    '11413' => '南区',
    '11414' => '緑区',
    '11415' => '塩釜口',
    '11416' => '植田/原',
    '11417' => '平針/赤池',
    '11418' => '瑞穂区役所',
    '11419' => '新瑞橋',
    '11420' => '鶴舞',
    '11421' => '御器所',
    '11422' => '杁中',
    '11423' => '石川橋',
    '11424' => '八事',
    '11425' => '桜山',
    '11426' => '千種/今池',
    '11427' => '池下/覚王山',
    '11428' => '本山',
    '11429' => '東山公園/星が丘',
    '11430' => '一社/上社',
    '11431' => '本郷/藤ヶ丘',
    '11432' => '守山区',
    '11500' => '東海/大府/日進/愛知郡',
    '11600' => '一宮/稲沢/津島',
    '11700' => '四日市周辺',
    '11701' => '桑名周辺',
    '11702' => '鈴鹿/亀山',
    '11800' => '瀬戸/春日井/小牧/犬山',
    '11900' => '東濃',
    '12000' => '知多半島/西尾/蒲郡',
    '12100' => '豊田/安城/刈谷/岡崎',
    '12200' => '豊橋/渥美/奥三河',
    '12300' => '浜松/浜名湖',
    '12301' => '天竜/北遠',
    '12400' => '岐阜',
    '12401' => '西濃',
    '12500' => '中濃',
    '12600' => '飛騨',
    '12601' => '高山',
    '12700' => '越前/鯖江/南条',
    '12800' => '福井/あわら/坂井',
    '12900' => '大野/勝山/永平寺',
    '13000' => '小松/加賀/能美',
    '13101' => '金石/内灘/金沢東',
    '13102' => '金沢駅/武蔵/東山',
    '13103' => '片町/香林坊',
    '13104' => '兼六園/小立野/もりの里/湯涌',
    '13105' => '金沢西/寺町/有松',
    '13106' => '野々市/松任',
    '13200' => '白山麓/手取',
    '13300' => '津幡/かほく/羽咋',
    '13400' => '七尾/中能登/能登島',
    '13500' => '奥能登',
    '13600' => '高岡/氷見/射水',
    '13700' => '砺波/小矢部/南砺/五箇山',
    '13800' => '富山',
    '13900' => '立山',
    '14000' => '滑川/魚津/黒部/宇奈月',
    '14100' => '大津市',
    '14200' => '湖東/湖南',
    '14300' => '湖北',
    '14400' => '湖西',
    '14500' => '敦賀/三方五湖',
    '14600' => '小浜/若狭',
    '14700' => '京都府北部',
    '14701' => '京都府中部',
    '14800' => '但馬',
    '14900' => '京都駅周辺',
    '14901' => '三条/四条',
    '14903' => '二条城/御所周辺',
    '14904' => '西院周辺',
    '14905' => '祇園/東山',
    '14907' => '銀閣寺/岡崎周辺',
    '14908' => '修学院/岩倉/八瀬/大原',
    '14912' => '桂/洛西',
    '14913' => '嵐山/嵯峨野',
    '14914' => '山科',
    '14915' => '北山通/金閣寺/上賀茂周辺',
    '14917' => '五条通周辺',
    '14918' => '東寺/吉祥院周辺',
    '14919' => '四条大宮',
    '14920' => '太秦/高雄',
    '14921' => '伏見/桃山/淀',
    '15000' => '長岡京市/向日市',
    '15100' => '南山城',
    '15200' => '泉北',
    '15201' => '泉南',
    '15202' => '南河内',
    '15300' => '奈良市',
    '15400' => '生駒/大和郡山',
    '15500' => '奈良中部',
    '15600' => '奈良南部',
    '15800' => '上野/名張',
    '15900' => '和歌山/海南',
    '16000' => '橋本/高野山',
    '16100' => '御坊/有田',
    '16200' => '田辺',
    '16300' => '白浜周辺',
    '16400' => '枯木灘/串本周辺',
    '16500' => '那智勝浦',
    '16600' => '新宮',
    '16700' => '尾鷲/熊野',
    '16800' => '津/久居',
    '16900' => '松阪/紀勢',
    '17000' => '伊勢/鳥羽/志摩',
    '17200' => '中津/大淀',
    '17201' => 'お初天神/太融寺/南森町',
    '17202' => '大阪駅/阪急梅田駅周辺',
    '17203' => '北浜/本町',
    '17204' => '京橋周辺',
    '17205' => '十三/新大阪周辺',
    '17206' => '心斎橋/堀江',
    '17208' => '天王寺/あべの橋',
    '17210' => '阿倍野/住吉/平野',
    '17212' => '大阪南港',
    '17213' => '北港/西淀川区',
    '17214' => '阪急東通/天神橋筋商店街',
    '17215' => '北新地/堂島/中之島',
    '17216' => '大阪城周辺',
    '17217' => '鶴橋/上本町/今里',
    '17218' => '難波/日本橋',
    '17219' => '大阪市北東部',
    '17220' => '福島/野田',
    '17221' => '土佐堀/江戸堀周辺',
    '17300' => '池田/箕面/豊能郡',
    '17301' => '豊中/吹田',
    '17302' => '高槻/茨木/摂津',
    '17400' => '枚方/寝屋川周辺',
    '17500' => '東大阪',
    '17600' => '尼崎市',
    '17601' => '宝塚/伊丹/川西/三田',
    '17700' => '西宮市',
    '17800' => '芦屋市',
    '17900' => '神戸/ハーバーランド',
    '17901' => '元町',
    '17902' => '北野/新神戸',
    '17903' => '三宮/ポートアイランド',
    '17904' => '灘区',
    '17905' => '兵庫/長田',
    '17906' => '六甲山/有馬温泉',
    '17907' => '神戸西区',
    '17908' => '東灘/六甲アイランド',
    '17909' => '須磨/垂水',
    '18000' => '明石市',
    '18100' => '兵庫丹波',
    '18200' => '東播磨',
    '18201' => '北播磨',
    '18300' => '西播磨',
    '18400' => '姫路/中播磨',
    '18500' => '淡路島',
    '18600' => '鳥取',
    '18601' => '倉吉',
    '18602' => '米子/境港',
    '19100' => '松江/安来',
    '19101' => '出雲/雲南',
    '19102' => '大田',
    '19103' => '浜田/江津',
    '19104' => '益田',
    '19105' => '隠岐',
    '19700' => '備前/瀬戸内',
    '19800' => '岡山/玉野/赤磐',
    '19801' => '高梁/新見',
    '19802' => '津山/美作',
    '19900' => '倉敷/総社/笠岡',
    '20000' => '福山/府中',
    '20001' => '三次/庄原',
    '20002' => '宮島/廿日市/大竹',
    '20003' => '呉/江田島',
    '20004' => '広島',
    '20005' => '東広島/西条/竹原',
    '20006' => 'しまなみ海道',
    '20007' => '三原/尾道',
    '20008' => '北広島/安芸太田/安芸高田',
    '20500' => '宇部/山口/防府',
    '20501' => '萩/長門/秋芳',
    '20502' => '下関',
    '20503' => '周南/岩国',
    '20700' => '高松市周辺',
    '20800' => '東讃',
    '20900' => '中讃',
    '21000' => '西讃',
    '21100' => '徳島市',
    '21200' => '徳島県北部',
    '21300' => '徳島県西部',
    '21400' => '徳島県南部',
    '21500' => '中予',
    '21600' => '東予',
    '21700' => '南予北部',
    '21800' => '南予南部',
    '21900' => '高知市',
    '22000' => '高知県中部',
    '22100' => '高知県東部',
    '22200' => '高知県西部',
    '22300' => '小倉北区',
    '22301' => '門司区/小倉南区',
    '22302' => '若松区/戸畑区/八幡東区',
    '22303' => '八幡西区',
    '22304' => '遠賀/筑豊',
    '22305' => '京築',
    '22400' => '中央区',
    '22401' => '博多区/東区',
    '22402' => '南区/城南区',
    '22403' => '早良区/西区',
    '22404' => '太宰府/筑紫野',
    '22405' => '前原/糸島',
    '22406' => '宗像/古賀/粕屋',
    '22500' => '久留米/甘木',
    '22501' => '柳川/大牟田/筑後',
    '22600' => '佐賀/鳥栖',
    '22700' => '唐津/伊万里',
    '22800' => '壱岐/対馬',
    '22900' => '佐世保/平戸',
    '23000' => '五島',
    '23100' => '長崎',
    '23200' => '雲仙/島原',
    '23300' => '天草',
    '23400' => '熊本',
    '23401' => '玉名/菊池',
    '23500' => '中津/日田',
    '23600' => '国東/宇佐',
    '23700' => '別府/湯布院/九重',
    '23800' => '阿蘇/小国',
    '23900' => '大分',
    '23901' => '佐伯/竹田',
    '24000' => '延岡/日向',
    '24100' => '宮崎/日南',
    '24200' => '都城/小林',
    '24300' => '八代/人吉/芦北',
    '24400' => '鹿児島',
    '24401' => '川内/出水',
    '24402' => '国分/隼人',
    '24500' => '指宿/枕崎',
    '24600' => '鹿屋/垂水',
    '24700' => '種子島/屋久島',
    '24800' => '奄美',
    '24900' => '那覇/浦添',
    '25000' => '沖縄/名護',
    '25100' => '宮古/石垣',
} %]

    [% IF errstr %]
        <p style="color:red; font-size: 30px">[% errstr %]</p>
    [% ELSE %]

        <form method="post" action="[% queries.nl %]">
            <select name="AREACODE">>
            [% FOR areacode IN areacode2name.keys.sort %]
                <option value="[% areacode %]" />[% areacode2name.$areacode %]</label>
            [% END %]
            </select>

            [% IF queries.arg1 %]
            <input type="hidden" name="[% queries.arg1.split("=").0 %]" value="[% queries.arg1.split("=").1 %]" />
            [% END %]
            [% IF queries.arg2 %]
            <input type="hidden" name="[% queries.arg2.split("=").0 %]" value="[% queries.arg2.split("=").1 %]" />
            [% END %]
            <input type="submit" value="OK" name="ACTN" />
        </form>
    [% END %]
</body>
</html>
