<a href="#" onclick="var x=document.getElementById('moxy_show_http_headers');x.style.display = (x.style.display=='none' ? '' : 'none');return false;">show http headers</a>
<div id="moxy_show_http_headers" style="display:none">
    <div>
        <h2 id="moxy_request">Request</h2>
        <pre>[% request | html %]</pre>
    </div>
    <div>
        <h2 id="moxy_response">Response</h2>
        <pre>[% response | html %]</pre>
    </div>
</div>
