<div id="moxy_show_http_headers">
    <div>
        <h2 id="moxy_request">Request</h2>
        <pre>[% request | html %]</pre>
    </div>
    <div>
        <h2 id="moxy_response">Response</h2>
        <pre>[% response | html %]</pre>
    </div>
</div>
